Travco.HIS/test/Travco.HIS.UnitTests/Schemas/FS_OTA_HotelInvNotifRQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.004" id="OTA2006A" xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	
	
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_HotelInvNotifRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_HotelInvNotifRQ is the message that sends the notification of a new inventory item, such as a room type or service type created for the hotel that did not previously exist.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">POS provides a mechanisim to indicate the source of the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The unique identifier element allows the trading partners to  uniquely identify each InvNotifRQ, (i.e.  the entire message) for transaction tracability.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SellableProducts">
					<xs:annotation>
						<xs:documentation xml:lang="en">A collection of Sellable products for a given hotel.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SellableProductsType">
								<xs:attributeGroup ref="HotelReferenceGroup"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">This element defines standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
<!-- OTA_HotelCommonTypes.xsd --><xs:complexType name="AdditionalGuestAmountType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Charges related to additional guests.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amount" type="TotalType">
				<xs:annotation>
					<xs:documentation xml:lang="en">The amount charged for an additional guest.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddlGuestAmtDescription" type="ParagraphType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Descriptive information regarding amounts charged for additional guests.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MaxAdditionalGuests" type="Numeric1to999">
			<xs:annotation>
				<xs:documentation xml:lang="en">Increase the base rate by the additional occupant amount for each additional 	occupant of the same age group up to this maximum number of occupants of this age group.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="AgeQualifyingGroup"/>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code representing the charges related to additional guests. Refer to OTA Code List Additional Detail Type (ADT). Typically, the 'extra person information' code would be used here.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percent" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The percent charged for an additional guest.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An index code to identify an instance in a collection of like items.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="DestinationSystemCodesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of DestinationSystemCode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DestinationSystemCode" type="StringLength1to32" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Destination System Code defines a system to which information is to be provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="FeaturesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of Feature.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Feature" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Describes the security and physically challenged features that a hotel offers.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Charge" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates whether this feature is chargeable.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="CurrencyAmountGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Description" type="MultimediaObjectType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">This will allow text descriptions to be sent with accessability features (e.g. complies with Local/State/Federal laws for accessability).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="CodeInfoGroup"/>
					<xs:attribute name="AccessibleCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Refer to OTA Code List Physically Challenged Feature Code (PHY). For any of the codes which apply to a room count, use the GuestRoom\@Quantity.	 Additionally, GuestRoom\@RoomTypeName may be used to pass the specific room type or you could pass "all" or "total" to indicate the AccessibleCode applies to the total hotel.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SecurityCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Refer to OTA Code List Security Feature Code (SEC).
					</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OTA Codelist Option Type Code (OTC). This is used in conjunction with AccessibleCode or SecurityCode.
</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ProximityCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Denotes the general location of a feature. Refer to OTA Codelist Proximity (PRX).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="GuestRoomType">
		<xs:annotation>
			<xs:documentation xml:lang="en">GuestRoomType is used to contain all the information on a guest room</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantities" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Max occupancy, max rollaways, number of beds, standard occupancy</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="MaxOccupancy" type="xs:nonNegativeInteger" use="optional"/>
					<xs:attribute name="MaxRollaways" type="xs:nonNegativeInteger" use="optional"/>
					<xs:attribute name="StandardNumBeds" type="xs:nonNegativeInteger" use="optional"/>
					<xs:attribute name="StandardOccupancy" type="xs:nonNegativeInteger" use="optional"/>
					<xs:attribute name="MaximumAdditionalGuests" type="xs:nonNegativeInteger" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Room" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Attributes to describe the room from room category to to location to view to bed type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="RoomGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Amenities" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of room level amenities.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Amenity" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Amenity Code Attribute is used to hold actual amenity code.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="AmenityCode" type="OTA_CodeType">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Room Amenity Type (RMA).
								</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RoomLevelFees" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of fees charged at the room level.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FeesType">
							<xs:attributeGroup ref="CodeListGroup"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalGuestAmount" type="AdditionalGuestAmountType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Additional guest amounts which are attached to room, not rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="ParagraphType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Description of the Room.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="MeetingRoomCapacityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The MeetingRoomCapacity object that defines the largest room seating capacity for a meeting room at the hotel facility. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Occupancy" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Occupancy details of a meeting room.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MinRoomCharge" type="FeeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The minimum room charge for this meeting room such as room rental fee.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="MinOccupancy" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The minimum number of people in this meeting room.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaxOccupancy" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The maximum number of people in this meeting room.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StandardOccupancy" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The standard number of people in this meeting room.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MeetingRoomFormatCode" type="OTA_CodeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code for the format of a meeting room at the hotel facility, such as U-shape, banquet, conference style, etc. A hotel may indicate all formats that apply to the meeting room. Refer to OTA Code List Meeting Room Format Code (MRF).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="MeetingRoomsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of MeetingRoom objects that provide the codes and description of the meeting rooms in the hotel. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeetingRoom" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dedicated or non-dedicated space or area in which to hold a meeting.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Codes" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Codes or abbreviations for meeting rooms.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Code" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Charge" type="FeeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">The minimum charge for this meeting room code.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="5">
													<xs:annotation>
														<xs:documentation xml:lang="en">This will allow for text descriptions to be sent with items such as catered breakfast.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="Code" type="OTA_CodeType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Refer to OTA Code List Meeting Room Code (MRC).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OTA Code list Option Type Code (OTC). This is used in conjunction with Code.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attributeGroup ref="CodeInfoGroup"/>
											<xs:attributeGroup ref="QuantityGroup"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Dimension" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Dimensions of the meeting room.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="DimensionRoomGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AvailableCapacities" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The amount of useable meeting space available at a property. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MeetingRoomCapacity" type="MeetingRoomCapacityType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">The measureable dimensions and capacities of a meeting room.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Features" type="FeaturesType" minOccurs="0"/>
						<xs:element name="Description" type="MultimediaObjectType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Information describing the restaurant. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Irregular" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This provides information as to whether the room has an irregular shape, if true the room would not be of a traditional square or rectangular style.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PropertySystemName" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the room name as it is defined by the system. The name used internally may differ from the name used by guests.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomName" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the meeting room name as provided to the guests.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Sort" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is a number assigned to rooms, usually used to define the display order.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MeetingRoomCapacity" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The total number of people permitted in the meeting room. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="RemovalGroup"/>
					<xs:attributeGroup ref="ID_OptionalGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">This may be used to uniquely identify a meeting room.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="Access" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to imply the type of access to the meeting space (e.g. private access, public access, etc.).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MeetingRoomTypeCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the type of the meeting room being described (eg. boardroom, ballroom, exhibit space). Refer to OTA Codelist Meeting Room Format Code (MRF).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DedicatedIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, the room is used for a single purpose as indicated by the MeetingRoomTypeCode attribute.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MeetingRoomCount" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The total number of unique meeting rooms provided at the hotel facility.  For example, if the hotel has a grand ballroom that breaks into Salon A, B, and C -the total number of unique meeting rooms is three.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SmallestRoomSpace" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The amount of room space for the smallest unique meeting room at the hotel facility. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LargestRoomSpace" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The amount of room space for the largest unique meeting room at the hotel facility. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="UnitsOfMeasureGroup"/>
		<xs:attribute name="TotalRoomSpace" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The total amount of unique room space provided at the hotel facility.  Note: when counting space, if there is grand ballroom that is comprised of Salon A, B, and C - count the total measurement of the ballroom only.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LargestSeatingCapacity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The largest seating capacity available in the largest meeting room - generally this is for theatre-style room setup. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SecondLargestSeatingCapacity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The second largest seating capacity available in the second largest meeting room - generally this is for theatre-style room setup.   This is excluding any space within the largest meeting room.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SmallestSeatingCapacity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The smallest seating capacity available in a meeting room - generally this is for theatre-style room setup. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalRoomSeatingCapacity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The total seating capacity available at the hotel facility. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LargestRoomHeight" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ceiling height of the largest meeting room.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="SellableProductsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The SellableProduct class defines the inventoriable item for this rate plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SellableProduct" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">The individual sellable product. A sellable product is one of GuestRoom, MeetingRoom or InventoryBlock. Attributes of SellableProduct are the inventory codes, information on the use, application and sequencing of the inventory information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DestinationSystemCodes" type="DestinationSystemCodesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">A collection of destination system codes. These are systems for which this Sellable product is targeted.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="GuestRoom" type="GuestRoomType">
								<xs:annotation>
									<xs:documentation xml:lang="en">Guest room information if this sellable product is a guest room.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MeetingRooms" type="MeetingRoomsType">
								<xs:annotation>
									<xs:documentation xml:lang="en">Meeting room information if this sellable product is a meeting room.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="InventoryBlock">
								<xs:annotation>
									<xs:documentation xml:lang="en">Inventory block information if this sellable product is an inventory block.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="InvBlockCodeGroup"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="Description" type="ParagraphType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Description of the sellable product.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The SellableProduct class defines the inventoriable item for this rate plan.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="SellableProductRPH" type="xs:int" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is a reference placeholder, used as an index for this object.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="InventoryGroup"/>
					<xs:attribute name="InvNotifType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">An enumerated type that indicates whether this is a new inventory item or an update of an existing inventory item. Values: New, Delta modification, Full overlay modification.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="New"/>
								<xs:enumeration value="Delta"/>
								<xs:enumeration value="Overlay"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="InvStatusType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">An enumerated type that indicates the status of the inventory item, ie: whether this notification is an initial announcement of a new inventory item, an update of an active (bookable) inventory item, or a notification of an inventory item that is no longer in effect. Values: Initial, Active, Deactivated.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Initial"/>
								<xs:enumeration value="Active"/>
								<xs:enumeration value="Deactivated"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="InvGroupingCode" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The identification of the inventory grouping.  Whether to use the sending/querying or the receiving/responding system's identification depends on which system is doing the translating.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="OrderSequence" type="Numeric1to999" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The order which the items should be acknowledged by the receiving entity.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:attributeGroup name="AgeQualifyingGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Base age group of occupants for which this rate is valid (ex Adult).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AgeQualifyingCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines an age range or age category of a guest (e.g., under 21, over 65, teen, infant). Refer to OTA Code List Age Qualifying Code (AQC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MinAge" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">MinAge: The minimum age to qualify for AgeQualifyingCode</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxAge" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Max Age: The maximum age to qualify for AgeQualifyingCode</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgeTimeUnit" type="TimeUnitType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">TimeUnit : Qualifier for Age</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DimensionRoomGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides details on the size of the room.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Area" type="xs:decimal" use="optional"/>
		<xs:attribute name="Height" type="xs:decimal" use="optional"/>
		<xs:attribute name="Length" type="xs:decimal" use="optional"/>
		<xs:attribute name="Width" type="xs:decimal" use="optional"/>
		<xs:attribute name="Units" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This defines the unit in which the dimensions are expressed (e.g. it could be generic such as metric or imperial or specific such as inches, feet, yards, miles, millimeters, centimeters, meters, kilometers- according to usage).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="InvBlockCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">The inventory block information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Trading partner code associated with a room block.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="InventoryGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define  the inventory code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="InvCodeApplication" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An enumerated type that identifies whether the InvCode is a single item which can be inventoried or a group of items which can be inventoried. Values are: Does Not Apply, Inventory Code, Inventory Grouping Code.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="DoesNotApply"/>
					<xs:enumeration value="InvCode"/>
					<xs:enumeration value="InvGroupingCode"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="InvCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code that identifies an inventory item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvType" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A value that indicates the type of inventory for which this request is made. If the inventory item is a room, typical values could be double, king, etc. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvTypeCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specific system inventory type code. If the inventory item is a room, typical values could be room type code, e.g.: A1K, A1Q etc.

Values may use the OTA code list or a code specific to the property or hotel brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IsRoom" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Simple indicator to detect if inventory is a room.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="RoomGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define a room (eg. its location, configuration, view).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="RoomType" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">(formerly, RoomInventoryCode) A code value that indicates the type of room for which this request is made, e.g.: double, king, etc. Values may use the Hotel Descriptive Content table or a codes specific to the property or hotel brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomTypeCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specific system room type code, ex: A1K, A1Q etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomCategory" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the category of the room.  Typical values would be Moderate, Standard, or Deluxe.  Refer to OTA Code List Segment Category Code (SEG).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A string value representing the unique identification of a room if the request is looking for a specific room.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Floor" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Floor on which the room is located.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvBlockCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code or identification number that identifies the room  stay as part of a group, package tour, or block of rooms designated in the inventory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="PromotionCodeGroup"/>
		<xs:attribute name="RoomLocationCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the location of the room within the hotel structure. Typical values would be "Near Exit","Close to elevator", "Low Floor" or "High Floor". Refer to OTA Code List Romm Location Type (RLT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomViewCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the view of the room. Typical values would be "Ocean view", "Pool view" or "Garden View". Refer to OTA Code List Room View Type (RVT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BedTypeCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Refer to OTA Code List Bed Type Code (BED).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NonSmoking" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Non-smoking indicator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Configuration" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Textual description of room configuration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SizeMeasurement" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Textual description of room dimensions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Quantity" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the number of the item in question.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Composite" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates that the room (suite) is a composite of smaller units.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomClassificationCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the room classification (e.g., cabin, apartment). Refer to OTA Code List Guest Room Info (GRI).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomArchitectureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the architectural style of a room. Refer to OTA Code List Architectural Style Code (ARC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AmountDeterminationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to indicate if an amount is inclusive or exclusive of other charges, such as taxes, or is cumulative (amounts have been added to each other).
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Inclusive"/>
			<xs:enumeration value="Exclusive"/>
			<xs:enumeration value="Cumulative"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="ListOfStringLength1to8">
		<xs:list itemType="StringLength1to8"/>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric1to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric1to9999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 9999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="100.00"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="TimeUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An enumerated type defining the unit in which the time is expressed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to16">
			<xs:enumeration value="Year"/>
			<xs:enumeration value="Month"/>
			<xs:enumeration value="Week"/>
			<xs:enumeration value="Day"/>
			<xs:enumeration value="Hour"/>
			<xs:enumeration value="Second"/>
			<xs:enumeration value="FullDuration"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="FeeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for non-tax fees and charges (e.g. service charges) .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used for taxes on the associated fee.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="ParagraphType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Text description of the fees  in a given language.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TaxInclusive" type="xs:boolean">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether taxes are included when figuring the fees.	</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="FeeTaxGroup"/>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
		<xs:attribute name="MandatoryIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the fee is mandatory. When false, the fee is not mandatory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An index code to identify an instance in a collection of like items.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ChargeUnitGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies charge information by unit (e.g., room, person, item) and frequency (e.g., daily, weekly, stay).</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="TaxableIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates that the fee is subject to tax.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="FeesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of fees.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fee" type="FeeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fee Amount that is applied to the rate. Fees are used for non tax amounts like service charges.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="FormattedTextTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides text and indicates whether it is formatted or not.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="MultimediaObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to pass a multimedia object such as an image, and the associated details .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ParagraphType">
				<xs:attributeGroup ref="FileAttachmentGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Sale (POS) is the details identifying the party or connection channel making the request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">This holds details regarding the requestor. It may be repeated to also accommodate the delivery systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="300">
			<xs:element name="Text" type="FormattedTextTextType"/>
			<xs:element name="Image" type="xs:string"/>
			<xs:element name="URL" type="xs:anyURI"/>
			<xs:element name="ListItem">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FormattedTextTextType">
							<xs:attribute name="ListItem" type="xs:integer" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">In many cases the description repeats, this will allow you to define the information that is being sent, typically used when multiple occurrences of ParagraphType are being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="DateTimeStampGroup"/>
		<xs:attributeGroup ref="LanguageGroup"/>
	</xs:complexType><xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information on the source of a request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestorID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">An identifier of the entity making the request  (e.g. ATA/IATA/ID number, Electronic Reservation Service Provider (ERSP), Association of British Travel Agents (ABTA)). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type">
							<xs:attribute name="MessagePassword" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This password provides an additional level of security that the recipient can use to validate the sending party's authority to use the message.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="PositionGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="BookingChannelGroup"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AgentSine" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the party within the requesting entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCountry" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCurrency" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The currency code in which the reservation will be ticketed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgentDutyCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An authority code assigned to a requestor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="UpperCaseAlphaNumericLength2to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirportCode" type="UpperCaseAlphaNumericLength3to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstDepartPoint" type="StringLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERSP_UserID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the individual using the ERSP system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TerminalID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the electronic address of the device from which information is entered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="TaxType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Applicable tax element.  This element allows for both percentages and flat amounts. If one field is used, the other should be zero since logically, taxes should be calculated in only one of the two ways.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaxDescription" type="ParagraphType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Text description of the taxes in a given language.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="FeeTaxGroup"/>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
		<xs:attributeGroup ref="ChargeUnitGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies charge information by unit (e.g., room, person, item) and frequency (e.g., daily, weekly, stay).</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType><xs:complexType name="TaxesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of taxes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tax" type="TaxType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">An individual tax.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyAmountGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a total of all the taxes.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType><xs:complexType name="TotalType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The total amount charged for the service including additional amounts and fees.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="AmountBeforeTax" type="Money" use="optional"/>
		<xs:attribute name="AmountAfterTax" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
		<xs:attribute name="AdditionalFeesExcludedIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, amounts do not contain additional fees or charges. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="AreaID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in place of a property code to retrieve availability across multiple properties in a hotel reservation system defined area.  This attribute does not map to a code list, it maps to a hotel reservation system defined value.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AreaID" type="NumericStringLength1to8" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="BookingChannelGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the booking channel types and whether it is the primary means of connectivity of the source.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of booking channel (e.g. Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL). Refer to OTA Code List Booking Channel Type (BCT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Primary" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ChargeUnitGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies charge information by unit (e.g., room, person, item) and frequency (e.g., daily, weekly, stay).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChargeUnit" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the unit for which the charge applies (e.g. room, person, seat). Refer to OTA Code List Charge Type (CHG).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChargeFrequency" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the timeframe used to apply the charge during the course of the reservation (e.g. Daily, Weekly, Stay). Refer to OTA Code List Charge Type (CHG).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChargeUnitExempt" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Number of units permitted before charges are applied (e.g., more than 4 persons).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChargeFrequencyExempt" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ChargeFrequency exemptions before charges are applied (e.g. after 2 nights).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxChargeUnitApplies" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Maximum number of Units for which the charge will be applied (e.g., waive charges above 10 rooms).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxChargeFrequencyApplies" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Maximum number of times the charge will be applied (e.g. waive charges above 30 nights).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeGroup">
		<xs:annotation>
			<xs:documentation>Used to specify a code and the context of the code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Any code used to specify an item, for example, type of traveler, service code, room amenity, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeInfoGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is intended to be used in conjunction with an attribute that uses an OTA code list. It is used  to provide additional information about the code being referenced. </xs:documentation>
			<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CodeDetail" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">May be used to give further detail on the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="RemovalGroup"/>
	</xs:attributeGroup><xs:attributeGroup name="CodeListGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and its associated attributes; meaning is derived from actual use.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="CodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of items that are identified by the Code (e.g., 2 adults, 5 first class seats).</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides meaning to a company code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator Id, last modification date time and last Modifier Id.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the last software system or person to modify a record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="EffectiveExpireOptionalDateGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to send the effective date and/or expiration date.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EffectiveDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="FeeTaxGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the fees and/or taxes associated with a charge (e.g. taxes associated with a hotel rate).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="AmountDeterminationType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate if the amount is inclusive or exclusive of other charges, such as taxes, or is cumulative (amounts have been added to each other).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code identifying the fee (e.g.,agency fee, municipality fee). Refer to OTA Code List Fee Tax Type (FTT).
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percent" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Fee percentage; if zero, assume use of the Amount attribute (Amount or Percent must be a zero value).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:attributeGroup><xs:attributeGroup name="FileAttachmentGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information about any files attached (e.g., multimedia objects) at the transport layer (e.g., HTTP/SOAP)</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="CodeInfoGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item.
								</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ContentData" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Vendor-specific format that contains the content data for the multimedia object.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A short description of the multimedia object.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PictureCategoryCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code defining the type of picture (e.g. Exterior, Lobby, Reception area, RoomTypes, Facilities, Dining areas, Meeting Rooms, Logo). Refer to OTA Code List Picture Category Code (PIC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The version of the multimedia object. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContentTitle" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The title for the multimedia object. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContentCaption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The caption to be published with the multimedia file. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CopyrightNotice" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The information describing the copyright notice for the multimedia object at a hotel facility. If this field is filled in, this copyright notice must be printed with the multimedia object.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the name of the file being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FileSize" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The size of the file sent, in bytes.  This may be used to validate that the received file is the correct size.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MultimediaObjectHeight" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of the image.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MultimediaObjectWidth" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The width of the image.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The unit of measure for the multimedia object (e.g., inches, pixels, centimeters). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContentID" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The content ID of a file attachment with the prefix 'cid:'. The value of this can be used to retrieve the corresponding attachment by the receiving system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContentCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Description of the multimedia object or attached file contents. Refer to OTA Code List Content Code (CTT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContentFormatCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The specific file format of the multimedia object or attached file (e.g., mpeg, jpg, gif). Refer to OTA Code List Content Format Code (CFC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Uniquely identifies this file in the message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChainName" type="StringLength1to64" use="optional"/>
		<xs:attribute name="BrandName" type="StringLength1to64" use="optional"/>
		<xs:attributeGroup ref="AreaID_Group"/>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_OptionalGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide an optional unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PositionGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify the geographic coordinates of a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Latitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian north or south of the equator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Longitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian east or west of the prime meridian.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Altitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of an item, typically above sea level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AltitudeUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure for the altitude (e.g., feet, meters, miles, kilometers). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PromotionCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a promotion code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PromotionCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionVendorCode" type="ListOfStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">List of the vendor codes associated with a promotion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="QuantityGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define a quantity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Quantity" type="Numeric1to9999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define a quantity of an associated element or attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="RemovalGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is used to indicate that an item is obsolete.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Removal" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">If true, this item is obsolete and should be removed from the receiving system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group"/>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="UnitsOfMeasureGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides measurement information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="UnitOfMeasureQuantity" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the numeric value associated with the measurement.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UnitOfMeasure" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the standard unit of measure name (e.g., it could be generic such as metric or imperial or specific such as inches, feet, yards, miles, millimeters, centimeters, meters, kilometers- according to usage). </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The unit of measure in a code format (e.g., inches, pixels, centimeters). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
