Travco.HIS/test/Travco.HIS.UnitTests/Schemas/FS_OTA_HotelInvBlockNotifRS.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.004" id="OTA2006A" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05">
	
	
	
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_HotelInvBlockNotifRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_HotelInvBlockNotifRS message returns an indication of the status of processing the OTA_HotelInvBlockNotifRQ message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element name="Success" type="SuccessType"/>
						<xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
						<xs:element name="InvBlockCodeRefs" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">This accommodates responses for multiple inventory blocks.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="InvBlockCodeRefType">
										<xs:sequence>
											<xs:element name="InvBlockCodeRef" type="InvBlockCodeRefType" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">This contains inventory block codes used between the sending and receiving systems.  It acknowledges  the creation of the block to the sender and may provide codes for cross reference.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:element name="Errors" type="ErrorsType"/>
				</xs:choice>
				<xs:element ref="TPA_Extensions" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvBlockCodeRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to return the inventory block codes and inventory block grouping codes
from the inventory system back to the requesting system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HotelRef" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="HotelReferenceGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is used to indicate to which location this inventory block information applies.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="InvBlockCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the inventory block; code assigned by the originator of the request message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvBlockGroupingCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the inventory block group; code assigned by the originator of the request message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvSystemInvBlockCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The InvBlockCode assigned by the inventory system in response to an inventory block notification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvSystemInvBlockGroupingCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The InvBlockGroupingCode assigned by the inventory system in response to an inventory block notification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:element name="TPA_Extensions" type="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A placeholder in the schema to allow for additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
		</xs:annotation>
	</xs:element><xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional contraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ErrorsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Textual information to provide descriptions and/or additional information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
		</xs:annotation>
	</xs:complexType><xs:complexType name="TPA_Extensions_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows extensions 
to be added to the OTA specification per trading partner agreement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="WarningsType">
		<xs:sequence>
			<xs:element name="Warning" type="WarningType" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="AreaID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in place of a property code to retrieve availability across multiple properties in a hotel reservation system defined area.  This attribute does not map to a code list, it maps to a hotel reservation system defined value.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AreaID" type="NumericStringLength1to8" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="ErrorWarningAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShortText" type="StringLength1to64" use="optional"/>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to OTA Code List Error Codes (ERR).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the OTA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChainName" type="StringLength1to64" use="optional"/>
		<xs:attribute name="BrandName" type="StringLength1to64" use="optional"/>
		<xs:attributeGroup ref="AreaID_Group"/>
	</xs:attributeGroup><xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
