Travco.HIS/test/Travco.HIS.UnitTests/Schemas/FS_OTA_HotelSummaryNotifRQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.004" id="OTA2006A">
	
	
	
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_HotelSummaryNotifRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_HotelSummaryNotifRQ is the message that sends the notification of the general availability of a hotel for booking.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HotelSummaryMessages" type="HotelSummaryMessagesType">
					<xs:annotation>
						<xs:documentation xml:lang="en">A collection of HotelSummaryMessages.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="HotelReferenceGroup"/>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">This element defines standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HotelSummaryMessagesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a notification of the general status of availability of the hotel, and its minimum and maximum rates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HotelSummaryMessage" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">The HotelSummaryMessage is the message that is used to provide a notification of the general status of 	availability of the hotel, and its minimum and maximum rates.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RateMin" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The minimum rate that may be available at the hotel.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="CurrencyAmountGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="RateMax" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The maximum rate that may be available at the hotel.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="CurrencyAmountGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="DateTimeSpanGroup"/>
					<xs:attributeGroup ref="DOW_PatternGroup"/>
					<xs:attribute name="StatusType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Descibes the status of the inventory (Closed, Open or On Request).</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Closed">
									<xs:annotation>
										<xs:documentation xml:lang="en">The inventory is not available for sale.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Open">
									<xs:annotation>
										<xs:documentation xml:lang="en">The inventory is available for sale.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="OnRequest"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ArrivalsOnlyFlag" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used in conjuction with the "closed" enumeration of the StatusType attribute to indicate "Closed to arrival" state.  The StatusType should be "Closed" and the boolean should be set to true to indicate the closed to arrival condition.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DateOrTimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a time or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime xs:time"/>
	</xs:simpleType><xs:simpleType name="DurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a night duration.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:duration NightDurationType"/>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NightDurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides the ability to define a duration in terms of nights rather than days.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="P[0-9]{1,3}N"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="AreaID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in place of a property code to retrieve availability across multiple properties in a hotel reservation system defined area.  This attribute does not map to a code list, it maps to a hotel reservation system defined value.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AreaID" type="NumericStringLength1to8" use="optional"/>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional"/>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DOW_PatternGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">If a day(s) of the week is set to true then the associated item is available on that day of the week  (e.g. if Mon="T" then a flight operates on Mondays or a certain rate is available on Mondays).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Mon" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Monday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tue" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Tuesday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Weds" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Wednesday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Thur" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Thursday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Fri" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Friday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Sat" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Saturday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Sun" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, apply to Sunday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DateTimeSpanGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">The attributes of the  OTA DateTimeSpan data type are based on the W3C base data types of timeInstant and timeDuration. The lexical representation for timeDuration is the [ISO 8601] extended format PnYn MnDTnH nMnS, where nY represents the number of years, nM the number of months, nD the number of days, 'T' is the date/time separator, nH the number of hours, nM the number of minutes and nS the number of seconds. The number of seconds can include decimal digits to arbitrary precision. As an example, 7 months, 2 days, 2hours and 30 minutes would be expressed as P0Y7M2DT2H30M0S. Truncated representations are allowed provided they conform to ISO 8601 format. </xs:documentation>
			<xs:documentation xml:lang="en">Time periods, i.e. specific durations of time, can be represented by supplying two items of information: a start instant and a duration or a start instant and an end instant or an end instant and a duration. The OTA standards use the XML mapping that provides for two elements to represent the specific period of time; a startInstant and a duration.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Start" type="DateOrTimeOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The starting value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="DurationType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The duration datatype represents a combination of year, month, day and time values representing a single duration of time, encoded as a single string. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="End" type="DateOrTimeOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ending value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChainName" type="StringLength1to64" use="optional"/>
		<xs:attribute name="BrandName" type="StringLength1to64" use="optional"/>
		<xs:attributeGroup ref="AreaID_Group"/>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group"/>
		<xs:attributeGroup ref="AltLangID_Group"/>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
